.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

.dino {
    width: 50px;
    height: 50px;
    background-image: url('../images/trex.png');
    background-size: 50px 50px;
    position: relative;
    top: 145px;
}

.jump {
    animation: jump 1s linear;
}

@keyframes jump {
    0% {
        top: 145px;
    }

    25% {
        top: 72px;
    }

    50% {
        top: 0px;
    }

    75% {
        top: 72px;
    }

    100% {
        top: 145px;
    }
}


.cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 105px;
    left: 575px;
    background-image: url('../images/cactus.png');
    background-size: 20px 40px;
    z-index: -1;

    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 575px;
    }

    100% {
        left: -20px;
    }
}