.container {
    padding: 1rem;
    max-width: 60rem;
    margin: auto;
}

.p {
    font-size: 1.4rem;
    max-width: 75ch;
    margin: auto;
}

.h3 {
    /* margin-left: 15%; */
    margin-top: 20px;
}

.grid {
    display: flex;
    justify-content: space-around;
    margin-right: 2%;
    margin-bottom: 50px;

}

.ul {
    padding-left: 20px;
   /* margin-left: 15%; */
}

.li {
    list-style-type: circle;
}

.img {
    max-height: 18rem;
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .h3 {
        margin-left: 2%;
    }
    .ul {
        padding-left: 2px;
        margin-left: 2%;
    }
}