.container {
    padding: 1rem;
    max-width: 52rem;
    margin: auto;
    /* border: 2px solid aqua; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
}
.img {
    width: 100%;
    display: block;
}

.img2 {
    width: 80%;
    /* margin-top: 50px; */
    display: block;
    margin: 50px auto 0;
}

.p {
    max-width: 75ch;
    font-weight: 300;
}

.h3 {
    margin-top: 50px;
}

.ul {
    margin-left: 30px;
}


@media screen and (max-width: 700px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .img {
        max-height: 25rem;
        width: auto;
        margin: auto;
    }

    .img2 {
        display: block;
        margin: 50px auto;
    }
}