.container {
    padding: 1rem;
    max-width: 60rem;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.img {
    max-height: 25rem;
}

.img2 {
    width: 80%;
    margin-top: 50px;
}

.lessons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
}

.p {
    max-width: 75ch;
    font-weight: 300;
}

.h3 {
    margin-top: 50px;
}

.ul {
    margin-left: 30px;
}


@media screen and (max-width: 700px) {
    .lessons {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .img {
        display: block;
        margin: auto;
    }

    .img2 {
        display: block;
        margin: 50px auto;
    }
}