.container {
    padding: 1rem;
    max-width: 52rem;
    margin: auto;
}

.h1 {
    /* margin: auto; */
    /* padding: 20px; */
}

.p {
    max-width: 75ch;
    margin: 20px auto;
    font-size: 1.4rem;
    /* padding: 20px; */
    font-weight: 300;
}

.author {
    margin: auto;
    display: grid;
    grid-template-columns: 220px 100px;
    max-width: 340px;
    /* border: 2px solid blue; */
}

.name {
    font-size: 1.1rem;
    margin-top: 35px;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.farm {
    width: 100%;
    margin-top: 50px;
    /* margin-bottom: -50px; */
}

/* @media screen and (max-width: 980px) {
    .farm {
        margin-bottom: -50px;
    }
} */

@media screen and (max-width: 500px) {
    .author {
        grid-template-columns: 200px 100px;
        /* border: 2px solid red; */
        padding: 5px 30px;
    }
}