.container {
    padding: 1rem;
    max-width: 60rem;
    margin: auto;
}

.h1 {
    margin: auto;
    padding: 20px;
}

.p {
    max-width: 75ch;
    margin: auto;
    font-size: 1.4rem;
    padding: 20px;
    font-weight: 200;
}

.author {
    margin: auto;
    display: grid;
    grid-template-columns: 220px 100px;
    max-width: 340px;
    /* border: 2px solid blue; */
}

.name {
    font-size: 1.1rem;
    margin-top: 43px;

}

.img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}