.container {
    padding: 1rem;
    max-width: 60rem;
    margin: auto;
}

.contact {
    margin-top: 50px;
    /* border: 2px solid lime; */
}

label {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.input {
    display: block;
    border: none;
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 300;
}

.input:focus {
    outline: none;
}

.message {
    display: block;
    border: none;
    resize: none;
    font-size: 1.4rem;
}

.message:focus {
    outline: none;
}

.hr {
    width: 21rem;
    margin-bottom: 5px;
}

.btn {
    color: #f8f8f8;
    background-color: #222;
    border: none;
    border-radius: 20px;
    font-size: 1.6rem;
    padding: 5px 15px;
    display:block;
    margin-left: 16%;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 2px solid aqua; */
}

.korak {
    /* border: 2px solid red; */
    position: relative;
    margin-top: 50px;
    /* padding-top: -150px; */
    max-width: 700px;
}

.img {
    width: 100%;
    /* margin-top: 50px; */
    max-width: 700px;
}

.secret {
    /* border: 2px solid lime; */
    height: 25%;
    width: 18%;
    position: absolute;
    top: 50px;
    left: 45%;
}

.secret:hover {
    cursor:help;
}

@media screen and (max-width: 1000px) {
    .h1 {
        text-align: center;
    }
    
    .grid {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

    .contact {
        display: block;
        margin: auto;
    }

    .secret {
        /* border: 2px solid lime; */
        height: 60%;
        width: 20%;
        position: absolute;
        top: 50px;
        left: 45%;
    }
}
