.header {
    /* border: 2px solid blue; */
    padding: 10px;
    color: #f8f8f8;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(32, 33, 33));
}

.h1 {
    display: inline;
    position: absolute;
    top: 2px;
}

.ul {
    display: flex;
    justify-content: end;
}

.li {
    padding-right: 30px;
    list-style-type: none;
    cursor: pointer;  
}

.a {
    color: inherit;
}