.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #333;
    color: #f8f8f8;
    margin-top: 50px;
    padding: 10px;
    font-weight: 300;
}

.center {
    text-align: center;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.small {
    display: none;
}

@media screen and (max-width: 550px) {
    .footer {
        display: block;
    }

    .img {
        display: none;
    }

    .small {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .img1 {
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
}