.container {
    padding: 1rem;
    max-width: 60rem;
    margin: auto;
}

.h3 {
    margin-top: 50px;
}

.p {
    max-width: 75ch;
    font-weight: 300;
}

.ul {
    margin-left: 30px;
}

.img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 50px 0px;
}